<html>
    <head>
        <title>Mi primer trabajo</title>
    </head>
    <body>
        <div>
            <h1><a href="/">mi primer trabajo</a></h1>
        </div>
        <p>Hola niños</p>
        <p>este es mi trabajo</p>
        <div>
            <p>costo un poco bastante pero bueno</p>
            <h2><a href="">segunda parte</a></h2>
            <p>mas adelante agregare mas contenidos...</p>
        </div>

        <div>
            <h2><a href="">tercera parte</a></h2>
            <p>mas contenidos en pocos dias...</p>
        </div>
    </body>
</html>